.DS_Store
.zsh_history
jumpbox.config
tas.config
tkgm.config
tkgi.config
harbor.config
concourse.config
.envrc
installpwcli.ps1
*.tfvars
Notes.txt
.cf
.ssh
controller-22.1.7-9093.ova
*.key
*.crt
temp/
temp0/
tkgi_nsx/
.idea